  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* #606C38
   #283618
   #FEFAE0
   #DDA15E */
/* home page */
* {
    font-family: 'Poppins', sans-serif;
}

nav {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 4%;
}

nav img{
    width: 140px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 6px 8px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: 800;
}

.nav-links ul li:hover {
    background: rgb(159, 117, 10);
    transition: all .2s;
}

#container {
    display:flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 400px;
    width: 100%;
    height: auto;
    background-image: url(Images/home_background.jpg);
}

.box {
    height: 250px;
    width: 250x;
    background: #FEFAE0 ;
    margin: 50px 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
}
.box p {
    font-size: 40px;
    line-height: 40px;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    color: #DDA15E;
}
@media (max-width: 1200px) {
    .box {
        width: 40%;
    }
}
@media (max-width: 600px) {
    .box {
        width: 90%;
    }
}
@media (max-width: 700px) {
    nav .fa {
        display: block; 
        color: black;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
}

nav .fa {
    display: none;
}

#course {
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 60px;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: 600;
}

p{
    font-size: 18px;
    font-weight: 300px;
    line-height: 22px;
}

#course-row {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 700px) {
    #course-row {
        flex-direction: column;
    }
}

.course-col {
    flex-basis: 30%;
    background: #DDA15E;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 20px 5px;
    box-sizing: border-box;
    transition: .5s;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}

#access-course {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #DDA15E;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
#access-course a {
    list-style: none;
}
#access-course h3 {
    color: #FEFAE0;
    margin: 40px;
    padding: 0;
}

.access-button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 15px;
    padding: 12px 35px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.access-button:hover{
    border: 1px solid #FEFAE0;
    background-color: #FEFAE0;
    transition: 1s;
    color: black;
}

#testimonial {
    width: 85%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

.testimonial-col {
    display: flex;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 5px;
    background: #FEFAE0;
    padding: 20px;
    cursor: pointer;
    flex-basis: 40%;
}

.testimonial-col img {
    height: 35px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right:35px;
}

.testimonial-col p {
    padding: 0px;
}

.testimonial-col h3 {
    text-align: right;
    margin-top: 20px;
}

#footer {
    background-color: #606C38;
    padding: 30ox;
    color: white;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

.footer-section {
    margin-right: 20px;
    margin-bottom: 20px;
}

.foooter-section h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.footer-section ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.newsletter {
    width: 300px;
}

.newsletter h4 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

form {
    display: flex;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.contact-info {
    width: 200px;
}

.contact-info h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-info a {
    text-decoration: none;
    color: white;
}

.contact-info p {
    margin-bottom: 5px;
    font-size: 15px;
}


/* about us page  */
#sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(250, 210, 230, 0.1),rgba(250, 210, 230, 0.1)), url(Images/background3.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
}
#sub-header h1 {
    margin-top: 50px;
    color: #FEFAE0;
}

.about-us-message {
    display: inline-block;
    padding: 25px 25px;
    text-wrap: wrap;
    align-items: center;
}

.about-us-message h3 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.about-us-message p {
    text-wrap: wrap;
    line-height: -25px;
    text-align: center;
}
.short-text {
    margin: 30px 0px;
    margin-top: 50px;
    padding-bottom: 40px;
    width: 100%;
}
.short-info p {
    text-align: justify;
}
.short-text img {
    max-width: 350px;
    float: left;
    border-radius: 10px;
    margin-right: 20px;
}

/* faculty page  */
#sub-header2 {
    background-color: #FEFAE0;
}
#sub-header2 h1{
    margin: 50px;
    text-align: center;
    color: #DDA15E;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin-bottom: 50px;
}
.lecturer-pic-container {
    background: #FEFAE0;
    width: 100%;
    border-radius: 15px;
    padding: 20px;
}
hr {
    width: 90%;
}
.lecturer-pic-container h3 {
    text-align: center;
}
.lecturers {
    display: flex;
    justify-content: space-around;
}
.lecturer-col {
    margin: 8px;
}
.lecturer-col img {
    width: 200px;
    border-radius: 50%;
    height: 200px;
}
.lecturers h4,p {
    text-align: center;
    font-size: 14px;
    margin: 7px;
}

/* research page  */
#research h1 {
    text-align: center;
    text-transform: capitalize;
}
#research p {
    font-size: 15px;
    text-align: left;
}
#research li {
    font-size: 15px;
}

/* events page */
#sub-header4 {
    background-color: white;
    background-image:linear-gradient(rgba(250, 210, 230, 0.1),rgba(250, 210, 230, 0.1)), url(Images/event_background2.jpg);
}
#sub-header4 h1{
    text-align: center;
}
.event-info h3 {
    font-size: 22px;
    margin-left: 5px;
}
.event-info p {
    text-align: left;
    font-size: 20px;
}

/* courses page */
.course-range h3 {
    text-align: center;
}
.course-range p {
    text-align: left;
}